
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    padding: 10px;
}

.container {
    padding: 10px;
    background-color:antiquewhite;
    width: 25%;
}

.editButton {
    background-color:blueviolet;
    border-radius: 20%;
}